@model IEnumerable<emlakCenter.Models.Medya>
@{
    ViewBag.Title = "Fotograf Ekle";
    Layout = "~/Views/Shared/Admin/_Layaut.cshtml";
}

<form id="galleryID">
    <input type="hidden" name="ilanNo" value="@Request.Params["ilanNo"]"/>
    
    <input id="fileInputType" type="file" onchange="preview(this)" multiple class="fileUpload"
           style="width:300px;"><br />
    <p style="color: #0066FF">
        Gönderebileceğin dosyalar @ViewBag.extensions.
    </p>
    <input type="submit" class="btn btn-success" value="Gönder" />
</form>

<br />

@foreach(var item in Model)
{
    <div class="box-body">
        <div class="table-bordered">
            <a href="~/ilans/fotografSil/@item.id" class="btn btn-danger">
                Bu Fotoğrafı Sil
            </a>
            <img src="~/@item.content" />
        </div>
    </div>
    
}