
@{
    ViewBag.Title = "İlan Kayıt Sayfası";
    Layout = "~/Views/Shared/Admin/_Layaut.cshtml";
}

<h2>İlan Medya Ekleme Bölümü</h2>

<div class="form-group">
    <div class="control-label col-md-2"></div>
    <div class="col-md-10">
         <a href="~/ilans/fotografEkle/?ilanNo=@ViewBag.ilanNo" class="btn btn-success">Fotoğraf Ekle</a>
    </div>
</div>