@model IEnumerable<emlakCenter.Models.Medya>

@{
    ViewBag.Title = "Video Ekle";
    Layout = "~/Views/Shared/Admin/_Layaut.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" for="content">Video Kodu</label>
            <div class="col-md-10">
                <textarea class="form-control text-box single-line" id="content" name="content" type="text" value=""></textarea>
            </div>
        </div>
        <input name="tip" value="1" type="hidden" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ekle" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@foreach (var item in Model)
{
    <div class="box-body">
        <div class="table-bordered">
            <a href="~/ilans/videoSil/@item.id" class="btn btn-danger">
                Bu Videoyu Sil
            </a>
            @item.content
        </div>
    </div>

}