body {
    margin: 0;
    padding: 0;
}

#e-nav {
    background-color: #eee;
}

.e-container {
    width: 940px;
    min-height: 80px;
    background-color: #eee;
    margin: 0 auto;
}

.e-logo {
    width: 170px;
    float: left;
    padding: 10px;
}

.e-ara {
    width: 540px;
    float: left;
    padding: 10px 30px;
    line-height: 60px;
}

.e-iletisim {
    width: 210px;
    float: left;
    padding: 10px;
    text-align: right;
    padding-top: 20px;
    padding-right:0;
}
.e-left{
    width:220px;
    padding:10px;
    float:left;
}
.e-right{
    width:720px;
    padding:10px;
    float:left;
}