@using emlakCenter.Models

@model ilan

@{
    ViewBag.Title = "Ilan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    systemDB db = new systemDB();
    
}
    <div id="details">
        <div class="resim">
            <img class="ilkResim" src="~/Content/img/ilan-resim/resim-1.jpg" />
            <div class="resimler">
                <img class="kucukResimler" src="~/Content/img/ilan-resim/resim-1.jpg" style="left:0px"/>
                <img class="kucukResimler" src="~/Content/img/ilan-resim/resim-1.jpg" style="left:100px" />
                <img class="kucukResimler" src="~/Content/img/ilan-resim/resim-1.jpg" style="left:200px" />
                <img class="kucukResimler" src="~/Content/img/ilan-resim/resim-1.jpg" style="left:300px" />
                <img class="kucukResimler" src="~/Content/img/ilan-resim/resim-1.jpg" style="left:400px" />
                <img class="kucukResimler" src="~/Content/img/ilan-resim/resim-1.jpg" style="left:500px" />
            </div>
        </div>
        <div class="aciklama">
            <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#detaylar" aria-controls="home" role="tab" data-toggle="tab">Detaylar</a></li>
                    <li role="presentation"><a href="#harita" aria-controls="harita" role="tab" data-toggle="tab">Harita</a></li>
                    <li role="presentation"><a href="#iletisim" aria-controls="iletisim" role="tab" data-toggle="tab">İletişim</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="detaylar">detay</div>
                    <div role="tabpanel" class="tab-pane" id="harita">harita</div>
                    <div role="tabpanel" class="tab-pane" id="iletisim">iletişim</div>
                </div>

            </div>
        </div>
    </div>

    @Model.ilanNo
    <br />
    @Model.ilanSahibi
    <br />
    @Model.ilantarihi.ToShortDateString()
    <br />
    @Model.takasDurum