@{
    ViewBag.Title = "Home Page";
}

<div class="e-left">
    @Html.Partial("_eLeft")
</div>

<div class="e-right" id="e-right">
    <div class="e-ilan">
        <img src="~/Helper/DosyaAdi/?adres=resim-1.jpg&w=200&h=140">
        
        <div class="e-baslik">
            Sahibinden satılık ada
        </div>
        <hr />
        <div class="e-aciklama">
            <div class="e-fiyat">
                <span class="e-label">Fiyat</span> 2000 ₺
            </div>
            <div class="e-mkare">
                <span class="e-label">Metrekare</span> 400 m<sup>2</sup>
            </div>
        </div>
    </div>

    <div class="e-ilan">
        <img src="~/Helper/DosyaAdi/?adres=resim-1.jpg&w=200&h=140">
        <div class="e-baslik">
            Sahibinden satılık ada
        </div>
    </div>

    <div class="e-ilan">
        <img src="~/Helper/DosyaAdi/?adres=resim-1.jpg&w=200&h=140">
        <div class="e-baslik">
            Sahibinden satılık ada
        </div>
    </div>

    <div class="e-ilan">
        <img src="~/Helper/DosyaAdi/?adres=resim-1.jpg&w=200&h=140">
        <div class="e-baslik">
            Sahibinden satılık ada
        </div>
    </div>


</div>