@{
    ViewBag.Title = "Home Page";
}

<div class="e-left">
    @Html.Partial("_eLeft")
</div>

<div class="e-right" id="e-right">
    <p>Sol menüden Tokat/Turhal/Turhal seç</p>
    <!--<div class="e-ilan">
        <img src="~/Helper/DosyaAdi/?adres=resim-1.jpg&w=200&h=140">
        <div class="e-baslik">
            Sahibinden satılık ada
        </div>
    </div>

    <div class="e-ilan">
        <img src="~/Helper/DosyaAdi/?adres=resim-1.jpg&w=200&h=140">
        <div class="e-baslik">
            Sahibinden satılık ada
        </div>
    </div>

    <div class="e-ilan">
        <img src="~/Helper/DosyaAdi/?adres=resim-1.jpg&w=200&h=140">
        <div class="e-baslik">
            Sahibinden satılık ada
        </div>
    </div>-->


</div>