
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/Admin/_Layaut.cshtml";
}

<h2>Admin Anasayfası</h2>
  

<form id="galleryID">
    <h3>Resim Upload Et</h3>
    <input id="fileInputType" type="file" multiple class="fileUpload"
           style="width:300px;"><br />
    <p style="color: #0066FF">
        Gönderebileceğin dosyalar @ViewBag.extensions.
    </p>
    <input type="submit" class="btn btn-success" value="Gönder" />
</form>

